@using StarWars.Model
@using RCL
@using WASM.Services
@page "/game"
@inject GameService Service
<h3>Games</h3>


<PageTitle>Games</PageTitle>


@if (_games is not null && _games.Count > 0)
{
    <TableTemplate Items="_games" Context="game">
        <TableHeader>
            <th>Id</th>
            <th>Soldiers</th>
            <th>Rounds</th>
            <th>MaxRound</th>
        </TableHeader>
        <RowTemplate>
            <td><a href="/game/@game.Id">@game.Id</a></td>
            <td>@game.Soldiers.Count</td>
            <td>@game.Rounds.Count</td>
            <td>@game.MaxRound</td>
        </RowTemplate>
    </TableTemplate>
}
else
{
    <p><em>Loading...</em></p>
}
@code {
    private List<Game>? _games = new();

    protected override async Task OnInitializedAsync()
    {
        _games = await Service.GetAll();
    }

}